In [1]:
import pandas as pd

# import synthpop.zone_synthesizer as zs
from csynthpop import zone_synthesizer as zs

#### Specify sample data csv paths. See the files listed here for expected structure. Marginal tables require multi-indexed columns with category name and category value in levels 0 and 1 of the index. Sample file category columns should be labeled with corresponding category names and values in those columns should match the category value headers in the marginal table.

In [2]:
hh_marginal_file = 'input_data/hh_marginals.csv'
person_marginal_file = 'input_data/person_marginals.csv'
hh_sample_file = 'input_data/household_sample.csv'
person_sample_file = 'input_data/person_sample.csv'

#### Load and process input marginals and samples and geography crosswalk

In [3]:
hh_marg, p_marg, hh_sample, p_sample, xwalk = zs.load_data(hh_marginal_file, person_marginal_file, hh_sample_file, person_sample_file)

Custom Synthpop!

In [16]:
xwalk

[(1, 1),
 (2, 1),
 (3, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 1),
 (10, 1),
 (11, 1),
 (12, 1),
 (13, 1),
 (14, 1),
 (15, 1),
 (16, 1),
 (17, 1),
 (18, 1),
 (19, 1),
 (20, 1),
 (21, 1)]

In [4]:
hh_marg.head()

cat_name   cars                  children      income                 workers  \
cat_values none  one two or more       no  yes  gt100 gt35-lt100 lt35    none
1             7   49         197       41  215     57        125   74      72
2             9   59         237       68  239     83        126   98      87
3            10   69         275       79  279     74        170  114     102
4            11   76         302      167  224     42        105  244     111
5            18  117         466       86  517     50        261  292     171

cat_name
cat_values  one two or more
1            77         105
2            93         125
3           108         146
4           118         160
5           182         247

In [5]:
p_marg.head()

cat_name            age                             race                    \
cat_values 19 and under 20 to 35 35 to 60 above 60 asian black other white
1                   312      108      223      177    64     0     0   756
2                   235      143      296      181     0     0     0   855
3                   303      229      445      174     0     0    24  1127
4                   215       77      356      189     0     0    29   808
5                   506      539      619      262     0     0     0  1926

cat_name      sex
cat_values female male
1             440  380
2             452  403
3             565  586
4             389  448
5             981  945

In [6]:
p_sample.head()

        serialno  sample_geog       age   race   sex  AGEP  SEX  RAC1P
0  2012000005576            1  20 to 35  white  male    27    1      1
1  2012000017760            1  20 to 35  white  male    34    1      1
2  2012000021787            1  20 to 35  white  male    32    1      1
3  2012000021815            1  20 to 35  white  male    23    1      1
4  2012000065237            1  20 to 35  white  male    24    1      1

In [7]:
hh_sample[hh_sample.sample_geog == xwalk[1]]

Empty DataFrame
Columns: [serialno, sample_geog, cars, workers, children, income, VEH, FINCP, NOC, WIF]
Index: []

In [8]:
xwalk

[(1, 1),
 (2, 1),
 (3, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 1),
 (10, 1),
 (11, 1),
 (12, 1),
 (13, 1),
 (14, 1),
 (15, 1),
 (16, 1),
 (17, 1),
 (18, 1),
 (19, 1),
 (20, 1),
 (21, 1)]

#### Iterate over all marginals in the geography crosswalk and synthesize in-line

In [9]:
all_households, all_persons, all_stats = zs.synthesize_all_zones(hh_marg, p_marg, hh_sample, p_sample, xwalk)

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31

Drawing 254 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31

Drawing 306 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31

Drawing 356 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31

Drawing 390 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31

Drawing 601 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53

sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 324 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 556 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 342 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 273 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 228 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 857 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 748 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 744 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 953 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 719 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 185 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 183 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 286 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 317 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 711 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

sample df            serialno  sample_geog         cars      workers children  \
0     2012000013083            1  two or more         none       no
1     2012000023543            1  two or more         none       no
2     2012000058856            1  two or more         none       no
3     2012000062123            1  two or more         none       no
4     2012000066729            1  two or more         none       no
5     2012000069987            1  two or more         none       no
6     2012000085190            1  two or more         none       no
7     2012000089610            1  two or more         none       no
8     2012000123743            1  two or more         none       no
9     2012000143825            1  two or more         none       no
10    2012000157312            1  two or more         none       no
11    2012000176132            1  two or more         none       no
12    2012000197969            1  two or more         none       no
13    2012000213613            1  two or more         none       no
14    2012000231936            1  two or more         none       no
15    2012000264884            1  two or more         none       no
16    2012000273712            1  two or more         none       no
17    2012000298718            1  two or more         none       no
18    2012000316809            1  two or more         none       no
19    2012000330635            1  two or more         none       no
20    2012000332179            1  two or more         none       no
21    2012000340623            1  two or more         none       no
22    2012000349244            1  two or more         none       no
23    2012000363311            1  two or more         none       no
24    2012000373532            1  two or more         none       no
25    2012000379360            1  two or more         none       no
26    2012000411656            1  two or more         none       no
27    2012000427766            1  two or more         none       no
28    2012000436409            1  two or more         none       no
29    2012000459714            1  two or more         none       no
...             ...          ...          ...          ...      ...
3119  2012000853550            1         none          one       no
3120  2010000312358            1         none          one       no
3121  2010000514225            1         none          one       no
3122  2010000572654            1         none          one       no
3123  2010000881681            1         none          one       no
3124  2012000888965            1         none  two or more       no
3125  2009001146128            1         none  two or more       no
3126  2009001263864            1         none  two or more       no
3127  2010001169889            1         none  two or more       no
3128  2011001005156            1         none  two or more       no
3129  2012001013207            1         none  two or more      yes
3130  2010000137191            1         none  two or more      yes
3131  2012001020305            1          one  two or more       no
3132  2013001089821            1          one  two or more       no
3133  2009000016069            1          one  two or more       no
3134  2009000286254            1          one  two or more       no
3135  2009000493398            1          one  two or more       no
3136  2010001088695            1          one  two or more       no
3137  2011001053379            1          one  two or more       no
3138  2011001463584            1          one  two or more       no
3139  2013000747804            1          one  two or more      yes
3140  2013001388077            1         none          one       no
3141  2009000367491            1         none          one       no
3142  2010000709282            1         none          one       no
3143  2011000235016            1         none          one       no
3144  2011000370837            1         none          one       no
3145  2009000205662            1         none         none       no
3146  2009000544634            1         none          one      yes
3147  2011000936877            1         none          one      yes
3148  2010000684158            1         none  two or more       no

          income  VEH     FINCP  NOC  WIF
0           lt35    3   11400.0    0  0.0
1           lt35    2       NaN    0  NaN
2           lt35    2       NaN    0  NaN
3           lt35    3   30300.0    0  0.0
4           lt35    2       NaN    0  NaN
5           lt35    2       NaN    0  NaN
6           lt35    2       0.0    0  0.0
7           lt35    2       NaN    0  NaN
8           lt35    2   22800.0    0  0.0
9           lt35    3       NaN    0  NaN
10          lt35    3       NaN    0  NaN
11          lt35    4       NaN    0  NaN
12          lt35    3   21900.0    0  0.0
13          lt35    3       NaN    0  NaN
14          lt35    2       NaN    0  NaN
15          lt35    2   28000.0    0  0.0
16          lt35    4       NaN    0  NaN
17          lt35    2   34200.0    0  0.0
18          lt35    2   32700.0    0  0.0
19          lt35    3       NaN    0  NaN
20          lt35    2   26500.0    0  0.0
21          lt35    2       NaN    0  NaN
22          lt35    2       NaN    0  NaN
23          lt35    2   16200.0    0  0.0
24          lt35    3   31300.0    0  0.0
25          lt35    3       NaN    0  NaN
26          lt35    2       NaN    0  NaN
27          lt35    2       NaN    0  NaN
28          lt35    2   12000.0    0  0.0
29          lt35    2       0.0    0  0.0
...          ...  ...       ...  ...  ...
3119  gt35-lt100    0   61550.0    0  1.0
3120  gt35-lt100    0   43500.0    0  1.0
3121  gt35-lt100    0   49400.0    0  1.0
3122  gt35-lt100    0   44530.0    0  1.0
3123  gt35-lt100    0   77700.0    0  1.0
3124  gt35-lt100    0   60770.0    0  2.0
3125  gt35-lt100    0   50004.0    0  2.0
3126  gt35-lt100    0   52000.0    0  3.0
3127  gt35-lt100    0   62900.0    0  2.0
3128  gt35-lt100    0   45100.0    0  2.0
3129        lt35    0   30800.0    1  2.0
3130        lt35    0    4480.0    1  2.0
3131       gt100    1  123000.0    0  2.0
3132       gt100    1  111600.0    0  2.0
3133       gt100    1  177500.0    0  2.0
3134       gt100    1  115400.0    0  2.0
3135       gt100    1  114200.0    0  2.0
3136       gt100    1  206620.0    0  2.0
3137       gt100    1  254000.0    0  2.0
3138       gt100    1  215000.0    0  2.0
3139       gt100    1  173000.0    8  3.0
3140        lt35    0   22000.0    0  1.0
3141        lt35    0   12800.0    0  1.0
3142        lt35    0    9700.0    0  1.0
3143        lt35    0    1100.0    0  1.0
3144        lt35    0   22370.0    0  1.0
3145       gt100    0  105000.0    0  0.0
3146  gt35-lt100    0   62300.0    3  1.0
3147  gt35-lt100    0   46000.0    3  1.0
3148        lt35    0   35000.0    0  2.0

[3149 rows x 10 columns]
cate df                                              cat_id
cars        children income     workers
none        no       gt100      none              0
                                one               1
                                two or more       2
                     gt35-lt100 none              3
                                one               4
                                two or more       5
                     lt35       none              6
                                one               7
                                two or more       8
            yes      gt100      none              9
                                one              10
                                two or more      11
                     gt35-lt100 none             12
                                one              13
                                two or more      14
                     lt35       none             15
                                one              16
                                two or more      17
one         no       gt100      none             18
                                one              19
                                two or more      20
                     gt35-lt100 none             21
                                one              22
                                two or more      23
                     lt35       none             24
                                one              25
                                two or more      26
            yes      gt100      none             27
                                one              28
                                two or more      29
                     gt35-lt100 none             30
                                one              31
                                two or more      32
                     lt35       none             33
                                one              34
                                two or more      35
two or more no       gt100      none             36
                                one              37
                                two or more      38
                     gt35-lt100 none             39
                                one              40
                                two or more      41
                     lt35       none             42
                                one              43
                                two or more      44
            yes      gt100      none             45
                                one              46
                                two or more      47
                     gt35-lt100 none             48
                                one              49
                                two or more      50
                     lt35       none             51
                                one              52
                                two or more      53
sample df            serialno  sample_geog           age   race     sex  AGEP  SEX  \
0     2012000005576            1      20 to 35  white    male    27    1
1     2012000017760            1      20 to 35  white    male    34    1
2     2012000021787            1      20 to 35  white    male    32    1
3     2012000021815            1      20 to 35  white    male    23    1
4     2012000065237            1      20 to 35  white    male    24    1
5     2012000072775            1      20 to 35  white    male    26    1
6     2012000079793            1      20 to 35  white    male    32    1
7     2012000096867            1      20 to 35  white    male    33    1
8     2012000098529            1      20 to 35  white    male    26    1
9     2012000123983            1      20 to 35  white    male    34    1
10    2012000136005            1      20 to 35  white    male    31    1
11    2012000139772            1      20 to 35  white    male    32    1
12    2012000152848            1      20 to 35  white    male    26    1
13    2012000160275            1      20 to 35  white    male    26    1
14    2012000162541            1      20 to 35  white    male    25    1
15    2012000173985            1      20 to 35  white    male    34    1
16    2012000189231            1      20 to 35  white    male    31    1
17    2012000195059            1      20 to 35  white    male    20    1
18    2012000200087            1      20 to 35  white    male    29    1
19    2012000212891            1      20 to 35  white    male    25    1
20    2012000223896            1      20 to 35  white    male    28    1
21    2012000230064            1      20 to 35  white    male    20    1
22    2012000247534            1      20 to 35  white    male    26    1
23    2012000251210            1      20 to 35  white    male    24    1
24    2012000273310            1      20 to 35  white    male    28    1
25    2012000303185            1      20 to 35  white    male    20    1
26    2012000310353            1      20 to 35  white    male    31    1
27    2012000314576            1      20 to 35  white    male    22    1
28    2012000316797            1      20 to 35  white    male    33    1
29    2012000330635            1      20 to 35  white    male    22    1
...             ...          ...           ...    ...     ...   ...  ...
7894  2009001381190            1      35 to 60  other    male    36    1
7895  2010000212621            1      35 to 60  other    male    46    1
7896  2010000306806            1      35 to 60  other    male    54    1
7897  2010000702057            1      35 to 60  other    male    57    1
7898  2010000809970            1      35 to 60  other    male    46    1
7899  2010000810480            1      35 to 60  other    male    56    1
7900  2010000829073            1      35 to 60  other    male    47    1
7901  2010001288996            1      35 to 60  other    male    47    1
7902  2010001313712            1      35 to 60  other    male    48    1
7903  2011000195940            1      35 to 60  other    male    60    1
7904  2011000275049            1      35 to 60  other    male    51    1
7905  2011000449574            1      35 to 60  other    male    51    1
7906  2011000629262            1      35 to 60  other    male    37    1
7907  2011001170059            1      35 to 60  other    male    57    1
7908  2011001475710            1      35 to 60  other    male    37    1
7909  2013000194884            1  19 and under  asian  female     8    2
7910  2013000194884            1  19 and under  asian  female     5    2
7911  2013001157638            1  19 and under  asian  female    12    2
7912  2010000080747            1  19 and under  asian  female    15    2
7913  2011000728865            1  19 and under  asian  female    10    2
7914  2011001344554            1  19 and under  asian  female     1    2
7915  2013000261569            1      above 60  asian  female    71    2
7916  2013000434693            1      above 60  asian  female    68    2
7917  2013000615045            1      above 60  asian  female    80    2
7918  2011000232940            1      above 60  asian  female    63    2
7919  2009000340682            1      35 to 60  asian    male    43    1
7920  2010000080747            1      35 to 60  asian    male    40    1
7921  2010001085632            1      35 to 60  asian    male    40    1
7922  2010001085632            1      35 to 60  asian    male    40    1
7923  2011000728865            1      35 to 60  asian    male    41    1

      RAC1P
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
...     ...
7894      7
7895      9
7896      8
7897      9
7898      8
7899      9
7900      5
7901      9
7902      9
7903      9
7904      9
7905      8
7906      8
7907      3
7908      9
7909      6
7910      6
7911      6
7912      6
7913      6
7914      6
7915      6
7916      6
7917      6
7918      6
7919      6
7920      6
7921      6
7922      6
7923      6

[7924 rows x 8 columns]
cate df                            cat_id
age          race  sex
19 and under asian female       0
                   male         1
             black female       2
                   male         3
             other female       4
                   male         5
             white female       6
                   male         7
20 to 35     asian female       8
                   male         9
             black female      10
                   male        11
             other female      12
                   male        13
             white female      14
                   male        15
35 to 60     asian female      16
                   male        17
             black female      18
                   male        19
             other female      20
                   male        21
             white female      22
                   male        23
above 60     asian female      24
                   male        25
             black female      26
                   male        27
             other female      28
                   male        29
             white female      30
                   male        31
Drawing 345 households

D:\Codes\synthpop_silo\silodemos\csynthpop\ipu\ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / float((column * weights).sum())

In [10]:
all_households.head()

,serialno,sample_geog,cars,workers,children,income,VEH,FINCP,NOC,WIF,cat_id,geog
household_id,,,,,,,,,,,,
1,2011000963020,1,none,none,no,lt35,0,NaN,0,NaN,6,1
2,2012001476110,1,none,none,yes,lt35,0,3100.0,3,0.0,15,1
3,2010000262947,1,none,none,yes,lt35,0,0.0,1,0.0,15,1
4,2009000455972,1,none,none,yes,lt35,0,3500.0,2,0.0,15,1
5,2010000262947,1,none,none,yes,lt35,0,0.0,1,0.0,15,1

#### all_persons.household_id maps person records to all_households.index

In [11]:
all_persons.head()

,serialno,sample_geog,age,race,sex,AGEP,SEX,RAC1P,cat_id,geog,household_id
0,2012000223896,1,20 to 35,white,male,28,1,1,69,1,254
1,2012000223896,1,20 to 35,white,female,28,2,1,68,1,254
2,2012000223896,1,19 and under,white,male,3,1,1,61,1,254
3,2012000223896,1,19 and under,white,female,6,2,1,60,1,254
4,2012000223896,1,19 and under,white,female,5,2,1,60,1,254

#### Synthesize all marginal geographies in the crosswalk using a specified or default number of cores via multiprocessing

In [12]:
all_persons, all_households, all_stats = zs.multiprocess_synthesize(hh_marg, p_marg, hh_sample, p_sample, xwalk)

In [13]:
all_persons.head()

,serialno,sample_geog,age,race,sex,AGEP,SEX,RAC1P,cat_id,geog,household_id
0,2012000136005,1,20 to 35,white,male,31,1,1,69,1,77
1,2012000136005,1,35 to 60,white,female,36,2,1,76,1,77
2,2012000136005,1,19 and under,white,male,10,1,1,61,1,77
3,2012000136005,1,19 and under,white,male,8,1,1,61,1,77
4,2012000136005,1,19 and under,white,male,5,1,1,61,1,77

In [14]:
all_households.head()

,serialno,sample_geog,cars,workers,children,income,VEH,FINCP,NOC,WIF,cat_id,geog
household_id,,,,,,,,,,,,
1,2009001368019,1,none,none,no,lt35,0,NaN,0,NaN,6,1
2,2009000455972,1,none,none,yes,lt35,0,3500.0,2,0.0,15,1
3,2009000455972,1,none,none,yes,lt35,0,3500.0,2,0.0,15,1
4,2009000455972,1,none,none,yes,lt35,0,3500.0,2,0.0,15,1
5,2010000136520,1,none,none,yes,lt35,0,8340.0,2,0.0,15,1

In [15]:
all_stats

     chi-square  geog        p-score
0      3.962256     1   9.956890e-01
1    159.471692     2   4.143594e-31
2    166.017013     3   1.189063e-28
3     91.413567     4   2.050697e-13
4    484.589538     5  1.646222e-100
5      2.816128     6   9.985201e-01
6    503.085351     7   2.056759e-98
7     83.046126     8   3.290043e-15
8    111.698066     9   2.424259e-19
9   2002.976021    10   0.000000e+00
10   586.117444    11  1.051909e-105
11    61.571491    12   5.770463e-07
12  1181.468790    13  3.014255e-235
13   663.982634    14  5.924968e-131
14  1122.430377    15  6.520140e-229
15    14.696884    16   4.008727e-02
16     0.786610    17   9.975782e-01
17   140.903991    18   1.386864e-23
18     0.793617    19   9.975086e-01
19   112.308874    20   5.802735e-17
20    13.935476    21   5.234095e-02